<h1>Login</h1>

<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <%= f.label :login %><br />
  <%= f.text_field :login %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
  <br />
  <%= f.submit "Login" %>
<% end %>
<br /><br />
<%#= authlogic_facebook_login_button %>
<br /><br >
<%= RPXNow.popup_code("Login using FaceBook/OpenID Account", RPX_REALM, rpx_login_url, :language=> 'en') %>
